doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Clone0.0
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Clone0.0
    .row
      .small-12.columns
        h2 Clone is an idea about what happens in development in different conditions but identical origins.
        h3 Objects with generic, uniform seeds, are given different parameters. The experimental conditions are then recorded along with the relative object-conditions, and that data is then evaluated. The use of this data should then be compared with other known trends, which then lay the foundation for more model tests.
        h2 Resources
    .row
      .small-8.columns
        h3 The brain edits memories of the past, updating them with new information.
      .small-4.columns
        img(src='http://www.landrieu.senate.gov/files/images/RADIO_NPR.jpg');

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

